{% extends "courses/base.html" %} {% block content %}

<h3>Lectures for {{ course.name }}</h3>


{% if lectures %}
    <table>
        <tr>
            <th>Lecture Name</th>
            <th>Week</th>
            <th>URL</th>
        </tr>
        {% for lecture in lectures %}
            <tr>
                <td>
                    <a href="{% url 'education:courses:detail' course.id %}">{{ lecture.name }}</a>
                </td>
                <td>{{ lecture.week }}</td>
                <td><a href="{{ lecture.url }}">{{ lecture.url }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    There are no lectures
{% endif %}
{% endblock %}
