{% extends "courses/base.html" %} {% block content %}
{% if courses %}

<table style="width:70%">
  <tr>
    <th> Name </th>
    <th> Start date </th>
    <th> End date </th>
    <th> Duration </th>
    <th> Description </th>
  </tr>

  <tr>
    {% for course in courses %}
    <td><a href="{% url 'education:courses:detail' course.id %}">{{ course.name }}</a></td>
    <td>{{ course.start_date }}</td>
    <td>{{ course.end_date }}</td>
    <td>{{ course.duration }}</td>
    <td>{{ course.description }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
    <h2>No courses</h2>
{% endif %}

<br style = “line-height:5;”><br>
<br style = “line-height:5;”><br>


<a href="{% url 'education:courses:create' %}">Add new course</a>
{% endblock %}